#article-list {
	article .article-thumbnail.multimedia-thumbnail {
		width: 200px;
		height: 150px;
		background-size: cover;
	}

	article.album-review .article-thumbnail.album-cover {
		width: 150px;
		height: 150px;
		background-size: contain;
	}
}
